<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/css/bootstrap.min.css' />
    <script type="text/javascript" src="/javascripts/js/jquery-3.1.1.min.js"></script>
  </head>
  <body>
  <div class="container">
    <h2>Tạo món ăn mới</h2>

    <div class="row">
      <form action="/insert" method="post" id="form">
        <div class="col-md-7 left">
          <div class="form-group">
              <label for="recipename">Tên thức ăn</label>
              <input type="text" class="form-control" id="recipename" placeholder="shu shi" name="RecipeName">
            </div>
          <div class="form-group">
              <label for="foodtype">Loại món ăn</label>
              <input type="text" class="form-control" id="foodtype" placeholder="breakfast" name="FoodCategories">
            </div>
          <div class="form-group">
              <label for="timetoprepare">Thời gian chuẩn bị</label>
              <input type="number" class="form-control" id="timetoprepare" name="TimeToPrepare" value="15">
              </input>
            </div>
          <div class="form-group">
              <label for="RecipeDescription">Mô tả về công thức</label>
              <input type="text" class="form-control" id="RecipeDescription" placeholder="Very good" name="RecipeDescription">
            </div>
          <div class="form-group">
              <label for="instructions">Công thức món ăn</label>
              <textarea class="form-control" id="instructions" rows="3" name="instructions"></textarea>
            </div>
          <div class="form-group ">
            <label for="instructions">Vegeterian:</label>
            <br>
            <input type="radio" class="form-check-input" name="Vegeterian" id="Vegeterian1" value="1" checked>
            <label class="form-check-label">Có</label>

            <input type="radio" class="form-check-input" name="Vegeterian" id="Vegeterian2" value="0">
            <label class="form-check-label">Không</label>

            </div>
          <div class="form-group">
              <label for="NumberOfServings">Số lượng khách hàng</label>
              <input type="number" min="1" value="1" class="form-control" id="NumberOfServings" name="NumberOfServings" placeholder="example 6">
            </div>
          <div class="form-group">
              <label for="CaloriesPerServings">Lượng calories</label>
              <input type="number" min="1" value="100" class="form-control" id="CaloriesPerServings"name="CaloriesPerServings" placeholder="example 600 for frid-chicken">
            </div>
          <div class="form-group">
              <label for="NutritionallInformation">Giá trị năng lượng món ăn</label>
              <input type="text" class="form-control" id="NutritionallInformation" name="NutritionallInformation" placeholder="High nutrition">
          </div>
        </div>

        <div class="col-md-4 first">
          <div class="form-group">
            <div class="row">
              <div class="col-md-7">
                  <label>Nguyên liệu</label>
                  <select class="form-control" name="Ingredient">
                    <% for(var i=0; i<Ingredients.length; i++) { %>
                    <option><%= Ingredients[i].Ingredient %></option>
                    <% } %>
                  </select>
                </div>
              <div class="col-md-5">
                <label>Số lượng</label>
                <input type="number" min="1" class="form-control" name="Quantity" placeholder="example 6">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="form-group">
              <label>Chế biến thành phần</label>
              <input type="text" class="form-control" name="Comments" placeholder="cắt hạt lựu">
            </div>
        </div>

        <button type="button" class="btn btn-primary col-md-4 right" id="addIngredient">Thêm nguyên liệu</button>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="/javascripts/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/themthucan.js"></script>

  </body>
</html>
